html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background:  #6633FF;padding-bottom:20px}
a { color: #FF33FF; background: inherit; text-decoration: none;}
h1 { font: bold 2.0em Arial, Arial, Sans-Serif; color: #FF66FF }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background:#B0C4DE; }
div#header h1,div#menu{width:1000px;margin:0 auto;text-align:left}
div#header h1{padding: 10px 0 10px;color: #FFFFFF}
div#footer{width:100%;overflow:hidden;background: #BBD9EE; margin-bottom:0px; height:50px; color:#FFFFFF; position:fixed; bottom:0px;}
div#footer h1{color: #ffffff; font-size:14px}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding:0;}
ul#nav{font-size: 80%}
ul#nav li{float:left;margin-left: 3px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul#nav a:hover{background: #fff;color: #000}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}


ul#nav1,ul#nav1 li{list-style-type:none;margin:0 250px 8px ;padding:0}
ul#nav1{font-size: 81%}
ul#nav1 li{float:left;margin-left: 3px;text-align: center}
ul#nav1 a{float:left;width: 95px;padding: 5px 0;background: #E7F1F8;text-decoration:none;color: #666; border-top : 1px solid #fff; border-left : 1px solid #fff; border-right : 1px solid #fff;}
ul#nav1 a:hover{background: #fff;color: #000}
ul#nav1 li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}


#nright {
	float: left;
	width: 77%;
	max-height: 400px;
	overflow-y: scroll;
	overflow-x: scroll;
	padding: 1em;
	margin-bottom: 1.3em;
	
	background: #eee;
	text-align: justify;
}

#n1right {
	float: left;
	width: 77%;
	max-height: 375px;
	overflow-y: scroll;
	overflow-x: scroll;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
}

#ASright {
	float: left;
	width: 550px;
	max-height: 800x;
	max-height: 600px;
	overflow-y: scroll;
	overflow-x: scroll;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
}

#right {
	float: left;
	width: 76%;
	max-height: 700px;
	min-height: 600px;
	overflow-y: scroll;
	overflow-x: scroll;
	padding: 1em;
	margin-bottom: 1.2em;
	background: #eee;
	text-align: justify;
}

#right1 {
	float: left;
	width: 88%;
	max-height: 390px;
	overflow-y: scroll;
	padding: 1em;
	background: #eee;
	text-align: justify;
}


#left {
	float: right;
	width: 20%;
	margin: 0 0 10px 0;
	
}

#left .box {
	
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
}


#content {
font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
    padding: 15px;
	background: #fff;
	
}

ul {  padding: 0; margin: 0;}
li { list-style-type: none;}

#table2 td { 
padding : 2px 2px;
background:#00000;
font-family:verdana;
font-size : 14px;
text-transform : uppercase;
text-align : center;
color : #626262; 
}

#table1 {	
width:auto;
border : 1px solid #D4D4D4;
border-top : 1px solid #D4D4D4;
border-bottom : 1px solid #D4D4D4; 
border-collapse : collapse;
}
#table1 th { 
padding : 5px 5px;
background:#8DADBA;
font-family:verdana;
font-size : 14px;
text-transform : uppercase;
text-align : center;
color : #626262; }

#table1 td { padding : 0 5px; }

#table1 tbody td, tbody th { padding : 6px; }

#table1 tbody tr {
background-color: #E6E6E6;
font-family:verdana;
font-size : 12px;
text-transform : none;
text-align : left;
color : #585858; }

#table1 tfoot td, tfoot tr {
padding: 5px 5px;
background-color: #3366FF;
font-family: "Times New Roman", Times, serifverdana;
font-size : 12px;
text-transform : none;
text-align : center;
color : #585858; }

#conDiv table
	{
	margin:0 0 0 20px;
	border-collapse:collapse;
	width:100%;
	margin: 0 0 20px 0;
	}
#conDiv table, #conDiv th, #conDiv td
	{
	border:1.2px;
	border-style:solid;
	border-color:#bbd9ee;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	}
#conDiv th
	{
	background-color:#bbd9ee;
	color:#000;
	height:35px;
	}